body {
    margin: 0;
    overflow: hidden; /* Para evitar barras de rolagem durante a animação */
    font-family: 'Minha Fonte', 'Arial Narrow', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000011;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
}

#conteudo-do-site {
 position: absolute;
 left: 65px;
 right: 20px;

}


.animation-container {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#BackgroundStars {

    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Garante que o canvas fique atrás do conteúdo */
    background: linear-gradient(to bottom, #000011, #000022);
}

#stats {
    visibility: hidden;
}

.glass-menu {
    position: fixed;
    margin-top: 70px;
    left: 10px;
    width: 50px;
    margin-bottom: 10px;
    backdrop-filter: blur(10px); /* Aplica um desfoque de 10 pixels */
    background-color: rgba(255, 255, 255, 0.1); /* Cor de fundo com opacidade para criar o efeito de vidro */
    border-radius: 10px; /* Borda arredondada para suavizar a aparência */
    z-index: 2;
  }
  .glass-menu ul {
    list-style: none;
    padding: 2px;
    margin: 0;
  }

  .glass-menu img {
    padding: 5px;
  }
  .white-box-menu {
    position:fixed;
    margin-top: 10px;
    margin-left: 10px;
    width: 50px; /* Ajuste conforme necessário */
    height: 50px; /* Ajuste conforme necessário */
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Ajuste c;onforme necessário */
    border-radius: 5px;
    z-index: 2;
}


#abertura {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Adicione isso para definir o fundo preto */
    z-index: 9999; /* Para garantir que esteja acima do conteúdo do site */
    transition: opacity 1s ease, transform 1s ease; /* Altere a ordem das transições */
}

.animation-container {
    position: relative;
}




.nome {
    color: white;
    margin-top: 30px;
    text-align: center;
    transition: opacity 1s ease, transform 1s ease; /* Altere a ordem das transições */
    transition-delay: 0.5s; /* Adicione um pequeno atraso para que o fundo preto apareça primeiro */
}
.white-box {
    width: 100px; /* Ajuste conforme necessário */
    height: 100px; /* Ajuste conforme necessário */
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Ajuste c;onforme necessário */
    opacity: 0;
    transform: scale(0.1);
    transition: opacity 1s ease, transform 1s ease; /* Altere a ordem das transições */
    transition-delay: 0.5s; /* Adicione um pequeno atraso para que o fundo preto apareça primeiro */
    border-radius: 10px;
}



.animated-text span {
    display: none;
    line-height: 1;
  }
  
  .animated-text span.active {
    display: inline;
  }

  .Description {
    position: absolute;
    top: 10px;
    margin-top: 150px;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 1.5;
    color: white;
    text-align: left;
    align-content: left;
    align-items: left;
    font-weight: bold;
}

.MePhoto {

    position: absolute;
    top: 10px;
    margin-top: 20px;
    width: 400px;
    margin-right: 10%;
    margin-left: 60%;
    margin-bottom: 10px;
  
    text-align: right;
    align-content: right;
    align-items: right;
    

}

.Lorem {
    position: absolute;
    top: 30px;
    margin-top: 500px;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
}

  @font-face {
    font-family: 'Minha Fonte';
    src: url('assets/fonts/AlgoriaLight-nRGdJ.ttf');
  }

  @media only screen and (max-width: 600px) {
    /* Altera o tamanho da fonte para dispositivos com largura máxima de 600 pixels (mobile) */
   .MePhoto {

    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    align-content: left;
    align-items: left;
    width: 200px;
    
   }

    .Description {
        
        font-size: 18px;
        margin-top: 230px;
    }

    .lorem {

        top: 10px;
        margin-top: 100px;

    }
    
}