body {
    margin: 0;
    overflow: hidden; /* Para evitar barras de rolagem durante a animação */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.animation-container {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#BackgroundStars {

    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Garante que o canvas fique atrás do conteúdo */

}

#stats {
    visibility: hidden;
}


#abertura {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Adicione isso para definir o fundo preto */
    z-index: 9999; /* Para garantir que esteja acima do conteúdo do site */
    transition: opacity 1s ease, transform 1s ease; /* Altere a ordem das transições */
}

.animation-container {
    position: relative;
}
.nome {
    color: white;
    margin-top: 30px;
    text-align: center;
    transition: opacity 1s ease, transform 1s ease; /* Altere a ordem das transições */
    transition-delay: 0.5s; /* Adicione um pequeno atraso para que o fundo preto apareça primeiro */
}
.white-box {
    width: 100px; /* Ajuste conforme necessário */
    height: 100px; /* Ajuste conforme necessário */
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Ajuste c;onforme necessário */
    opacity: 0;
    transform: scale(0.1);
    transition: opacity 1s ease, transform 1s ease; /* Altere a ordem das transições */
    transition-delay: 0.5s; /* Adicione um pequeno atraso para que o fundo preto apareça primeiro */
    border-radius: 10px;
}


.animated-text span {
    display: none;
    line-height: 1;
  }
  
  .animated-text span.active {
    display: inline;
  }

  .Description {
    margin-top: 30px;
    width: 100%;
    font-size: 24px;
    color: white;
    text-align: center;
    align-content: center;
    align-items: center;
    font-weight: bold;
}

  @media only screen and (max-width: 600px) {
    /* Altera o tamanho da fonte para dispositivos com largura máxima de 600 pixels (mobile) */
    .Description {
        font-size: 18px
    }
    
}