


body {
    margin: 0;
    overflow: hidden; /* Para evitar barras de rolagem durante a animação */
    font-family: Montserrat, sans-serif;
    font-weight: 100;
    background-color: #000011;
    overflow-x: hidden;
    color: #fff;
    
}

.Copyright {
  padding-top:20px;
  text-align: center;
  padding-bottom: 60px;
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: #000011;
}

.whatsapp-button img {
  width: 60px; /* ajuste conforme necessário */
  height: auto;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  overflow-wrap: break-word; 
}

.title {
  
  text-align: center;
}

.image {
  flex: 1;
  text-align: center;
  margin-left: 20px;
}


canvas { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
}

#conteudo-do-site {
 /*position: absolute;*/
 margin: 5%;
 margin-top: 0%;
 margin-left: 80px;
 

}





.logol {
   padding: 4px;
   

}


.Nome {
font-family: Montserrat;
font-weight: bolder;
background-image: linear-gradient(to right,#002fff, #28f89e);
font-style: oblique;
-webkit-background-clip: text;
            background-clip: text;
            color: transparent;
}

.animation-container {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#BackgroundStars {

    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2; /* Garante que o canvas fique atrás do conteúdo */
    background: linear-gradient(to bottom, #000011, #000022);
    
}

#stats {
    visibility: hidden;
}


.glass-menu {
    position: fixed;
    margin-top: 70px;
    left: 10px;
    width: 50px;
    margin-bottom: 10px;
    backdrop-filter: blur(10px); /* Aplica um desfoque de 10 pixels */
    background-color: rgba(255, 255, 255, 0.1); /* Cor de fundo com opacidade para criar o efeito de vidro */
    border-radius: 10px; /* Borda arredondada para suavizar a aparência */
    z-index: 2;
    border: 1px solid  rgba(255, 255, 255, 0.204);
  }
  .glass-menu ul {
    list-style: none;
    padding: 2px;
    margin: 0;
  }

  .glass-menu img {
    padding: 5px;
  }
  .white-box-menu {
    position:fixed;
    margin-top: 10px;
    margin-left: 10px;
    width: 50px; /* Ajuste conforme necessário */
    height: 50px; /* Ajuste conforme necessário */
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Ajuste c;onforme necessário */
    border-radius: 5px;
    z-index: 2;
}

.tag-name {
    position: absolute;
    bottom: -30px; /* Posição inicial abaixo do item da lista */
    left: 50%;
    transform: translateX(-50%);
    background-color: #555;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0; /* Inicialmente oculta */
    transition: bottom 0.3s ease, opacity 0.3s ease; /* Transições suaves */
  }

.glass-menu img:hover {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Adiciona uma sombra branca quando o mouse passa por cima */
    border: 1px solid  rgba(255, 255, 255, 0.204); 
    border-radius: 5px;
}

.scroll-menu img:hover .tag-name {
    bottom: -50px; /* Posição quando o mouse passa por cima */
    opacity: 1; /* Torna visível */
}

.titulo {
  opacity: 0; /* Começa com opacidade 0 para esconder o texto */
    transform: translateX(-100%);
  animation: fadeInLeft 0.5s ease-out forwards; /* Aplica a animação */
    animation-delay: 3.5s;
}
#abertura {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Adicione isso para definir o fundo preto */
    z-index: 9999; /* Para garantir que esteja acima do conteúdo do site */
    transition: opacity 1s ease, transform 1s ease; /* Altere a ordem das transições */
}

.animation-container {
    position: relative;
}




.nome {
    color: white;
    margin-top: 30px;
    text-align: center;
    transition: opacity 1s ease, transform 1s ease; /* Altere a ordem das transições */
    transition-delay: 0.5s; /* Adicione um pequeno atraso para que o fundo preto apareça primeiro */
}
.white-box {
    width: 100px; /* Ajuste conforme necessário */
    height: 100px; /* Ajuste conforme necessário */
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Ajuste c;onforme necessário */
    opacity: 0;
    transform: scale(0.1);
    transition: opacity 1s ease, transform 1s ease; /* Altere a ordem das transições */
    transition-delay: 0.5s; /* Adicione um pequeno atraso para que o fundo preto apareça primeiro */
    border-radius: 10px;
}



.animated-text span {
    display: none;
    line-height: 1;
    word-wrap: break-word;
    overflow-wrap: break-word; 
  }
  
  .animated-text span.active {
    display: inline;
  }

  .Description {
    flex: 1;
    font-size: 2.5vw;
    /*position: absolute;
    top: 10px;
    margin-top: 150px;
   
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;*/
    word-wrap: break-word;
    overflow-wrap: break-word; 

    width: 100%;
    line-height: 1.5;
    color: white;
    text-align: left;
    align-content: left;
    align-items: left;
    font-weight: 100;
    font-family: Montserrat , sans-serif;
    opacity: 0; /* Começa com opacidade 0 para esconder o texto */
    transform: translateX(-100%);
    animation: fadeInLeft 0.5s ease-out forwards; /* Aplica a animação */
    animation-delay: 3.5s;
}

.MePhoto {
    margin-left: 20px;
    flex: 1;
    /* position: absolute; 
    top: 10px;
    margin-top: 20px; */
    width: 20vw;
    /*margin-right: 10%;
    margin-left: 60%;
    margin-bottom: 10px;*/
    transform: scale(0%);
    text-align: right;
    align-content: right;
    align-items: right;
    animation: HideShow 0.5s ease-out forwards; /* Aplica a animação */
    animation-delay: 3.2s;

}

.scroll-div {
    visibility: hidden; /* Torna a div e todo o seu conteúdo invisível */
    display: none;
    height: 0;
  }


.Lorem {
    /*position: absolute;
    top: 30px;
    margin-top: 500px;
    margin-left: 10%;
    margin-right: 10%;*/
    margin-top: 10px;
    font-weight: 200;
    font-size: 20px;
    line-height: 1.2;
    transform: translateX(-100%);
    opacity: 0;
    color: white;
    animation: fadeInLeft 0.5s ease-out forwards; /* Aplica a animação */
    animation-delay: 3.6s;
}

@keyframes fadeInLeft {
  0% {
    background-color: white;
    opacity: 0;
    transform: translateX(-100%);
  }
  15% {
    background-color: white;
    opacity: 1;
    transform: translateX(-50%);
  }
  33% {
    background-color: white;
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
    background-color: transparent;
    transform: translateX(0);
  }
}


.circle {
  position: fixed;
  width: 70vw;
  height: 70vw;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(0,0,255,0.2) 0%, rgba(0,0,255,0) 70%);
  transition: all 5s ease-in-out;
  animation: moveCircles 10s linear infinite;
  bottom: 20%;
  left: 0%;
  z-index: -1;
}

.circle2 {
  position: fixed;
  width: 70vw;
  height: 70vw;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(0,255,0,0.2) 0%, rgba(0,0,255,0) 70%);
  transition: all 5s ease-in-out;
  animation: moveCircles 10s linear infinite;
  animation-direction: reverse;
  top: 20%;
  left: -30%;
  z-index: -1;
}

.circle3 {
  position: fixed;
  width: 70vw;
  height: 70vw;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255,0,0,0.2) 0%, rgba(0,0,255,0) 70%);
  transition: all 5s ease-in-out;
  animation: moveCircles 10s linear infinite;
  animation-direction: reverse;
  top: 0%;
  left: 60%;
  z-index: -1;
}

@keyframes moveCircles {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(50vw, 50vw);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes HideShow {
  from {
    opacity: 0;
    transform: scale(0%)
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}

  @media only screen and (max-width: 600px) {
    /* Altera o tamanho da fonte para dispositivos com largura máxima de 600 pixels (mobile) */

    .Lorem {
      font-weight: 100;
       font-size: 18px;
        top: 10px;
       padding-bottom: 100px;
    }

   .MePhoto {

    /*margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    align-content: left;
    align-items: left;*/
    width: 90vw;
    
   }

   .titulo {
    font-size: 30px;
   }

   .circle {
    position: fixed;
    width: 100vw;
    height: 100vw;
   }

   .circle2 {
    position: fixed;
    width: 100vw;
    height: 100vw;
   }

   .circle3 {
    position: fixed;
    width: 100vw;
    height: 100vw;
   }

   #conteudo-do-site {
   margin-left: 5%;
   }
   .container {
    flex-direction: column-reverse;
  }
    .Description {
        
        font-size: 5.5vw;
        /*margin-top: 230px;*/
    }

   
    .glass-menu {
        display: flex;
        justify-content: space-around;
        position: fixed;
        bottom: 0; /* Posiciona o menu no rodapé da página */
        left: 0;
        right: 0;
        width: 100%;
        height: 50px;
        margin-bottom: 0;
        padding: 0;
        backdrop-filter: blur(10px); /* Aplica um desfoque de 10 pixels */
        background-color: rgba(255, 255, 255, 0.1); /* Cor de fundo com opacidade para criar o efeito de vidro */
        border-radius: 0px; /* Borda arredondada para suavizar a aparência */
        border: 0px;
        border-top: 1px solid  rgba(255, 255, 255, 0.204);
        z-index: 2;
      }
      .glass-menu ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
      }
      .glass-menu li {
        list-style: none;
        display: inline-block;
        margin: 0 10px;
      }
      .glass-menu img {
        height: 50px;
      }
      .scroll-div h3 {
        margin: 0;
        padding-top: 10px;
        text-align: center;
        justify-content: center;
  align-items: center;
      }
      .scroll-div {
        position: fixed;
        top: -100px; /* Esconde a div acima da tela */
        left: 0;
        right: 0;
        width: 100%;
        height: 50px;
        text-align: center;
        line-height: 100px; /* Centraliza verticalmente o texto */
        transition: top 0.3s ease; /* Adiciona uma transição suave */
        background-color: rgba(255, 255, 255, 0.1); /* Cor de fundo com opacidade para criar o efeito de vidro */
        color: white;
        display: flex;
        padding: 0;
        margin: 0;
  justify-content: center;
  align-items: center;
        backdrop-filter: blur(10px);
        z-index: 2;
        border-bottom: 1px solid  rgba(255, 255, 255, 0.204);
     visibility: visible; /* Torna a div e todo o seu conteúdo visível */
     font-family: Montserrat , sans-serif;
     font-weight: 100;
    }
      
      .scroll-div.visible {
        top: 0; /* Exibe a div quando a classe 'visible' é adicionada */
        display: block;
      }

      .whatsapp-button {
        position: fixed;
        bottom: 65px;
        right: 20px;
      }
      
      .content {
        height: 2000px; /* Altura para simular uma página com rolagem */
      }
      
}